table {
  margin:30% auto;
  text-align: center;
}

td {
  border: 1px solid lightgray;
  max-width: 75px;
  max-height: 75px;
  cursor: pointer;
}

img {
  width: 60px;
  height: 60px;
  padding: 4px;
}

.highlight {
  border: 2px solid orchid;
}

.no-click {
  pointer-events: none;
}

.flash {

}
