table {
  margin:30% auto;
  text-align: center;
}

td {
  border: 1px solid black;
  max-width: 100px;
  max-height: 100px;
  cursor: pointer;
}

img {
  width: 90px;
  height: 90px;
}

.highlight {
  border: 1px solid red;
}
