body {
  background-color: #896fdb;
  background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
}

#game-score {
  font-size: 40px;
  color: #efe47f;
  font-family: 'Bungee Shade', cursive;
  margin: 6% auto 10px auto;
  max-width: 450px;
  text-align: center;
  border: 12px solid rgb(239, 228, 127, 0.5);
}


table{
  margin: 0 auto 10% auto;
  text-align: center;
  border: 12px solid rgb(239, 228, 127, 0.5);
}

td {
  background-color: rgb(255, 255, 255, 0.2);
  border: 1px dashed #efe47f;
  max-width: 75px;
  max-height: 75px;
  cursor: pointer;
}

img {
  width: 60px;
  height: 60px;
  padding: 4px;
}

.highlight {
  border: 3px solid #e9aaff;
  border-radius: 50%;
}

.no-click {
  pointer-events: none;
}

h1 {
  margin-top: 6%;
  color: #efe47f;
  font-size: 80px;
  text-align: center;
  font-family: 'Bungee Shade', cursive;
}
