html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  text-align: center;
  height: 100%;
  background: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png"), linear-gradient(to left, #513c93, #896fdb, #513c93) no-repeat center center fixed;
  background-size:auto;
}


table {
  height: 650px;
  width: 650px;
  border-collapse: separate;
  border-radius: 5px;
  margin: 8% auto 10% auto;
  text-align: center;
  border: 6px solid rgb(239, 228, 127, 0.5);
  box-shadow: 0px 0px 37px -9px rgba(219,206,24,1);
}

th {
  height: 60px;
  text-align: center;
  background-color: rgb(137, 110, 219, 1);
  border-bottom: 6px solid rgb(239, 228, 127, 0.5);
  font-size: 40px;
  color: #efe47f;
  font-family: 'Helvetica Neue', sans-serif;
  font-weight: 100;
}


td {
  background-color: rgb(255, 255, 255, 0.2);
  border: 1px dashed rgb(239, 228, 127, 0.5);
  max-width: 75px;
  max-height: 75px;
  cursor: pointer;
}

img {
  width: 80px;
  height: 80px;
  padding: 4px;
}

.highlight {
  border: 3px solid #e9aaff;
  border-radius: 100%;
}

.highlight img {
  width: 70px;
  height: 70px;
  padding: 4px;
}

.no-click {
  pointer-events: none;
}

h1 {
  margin-top: 6%;
  color: #efe47f;
  font-size: 80px;
  text-align: center;
  font-family: 'Bungee Shade', cursive;
}


.btn, .btn:active, .btn:focus{
  outline: none;
  font-family: 'Bungee Inline', cursive;
  font-size: 28px;
  background-color: rgb(239, 228, 127);
  color: #896fdb;
  text-transform: uppercase;
  padding: 10px;
  height: 80px;
  width: 260px;
}


.btn:hover {
  outline: none;
  background-color: rgb(209, 197, 94);
  color: #896fdb;
}

.modal {
  padding-top: 500px;
}

.modal-title {
  margin-left: 175px;
}

.modal-body span {
  font-family: 'Bungee Inline', cursive;
}
